################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OllamaWithAspire.slnx
/OllamaWithAspire.AppHost/obj
/OllamaWithAspire.ServiceDefaults/obj
